@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));
.hero-font {
  font-family: "Bricolage Grotesque", sans-serif;
}
.glass-box {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 28px;
  color: white;
  transition: all 0.3s ease;
}

.glass-box:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.15);
}
.scroll-left {
  animation: scrollLeft 30s linear infinite;
}

.scroll-right {
  animation: scrollRight 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
